.App {
  background-color: black;
}
.form {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 450px;
  height: 560px;
  background-color: hsl(0, 0%, 90%);
  padding-right: 10px;
}

.title {
  color: rgba(red, green, blue, 0.3);
}

button {
  outline: none;
  padding: 5px;
  font-size: 10px;
  border: 0px solid;
  border-radius: 5px;
  color: rgba(36, 34, 34, 0.651);
}
ul {
  list-style: none;
}
